main{
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

div{
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}

.desligada{
  background: transparent;
  color: black;
  width: 150px;
  height: 36px;
  font-family: sans-serif;
  font-size: 15px;
  border-color: black;
  font-weight: 400;
  border-radius: 1000px;
  letter-spacing: 2px;
  transition: 1s;

}

.branca{
    background: transparent;
    color: black;
    width: 150px;
    height: 36px;
    font-family: sans-serif;
    font-size: 15px;
    border-color: rgb(95, 91, 91);
    font-weight: 400;
    border-radius: 1000px;
    letter-spacing: 2px;
    transition: 1s;
}

.azul{
    background: transparent;
    color: black;
    width: 150px;
    height: 36px;
    font-family: sans-serif;
    font-size: 15px;
    border-color: blue;
    font-weight: 400;
    border-radius: 1000px;
    letter-spacing: 2px;
    transition: 1s;
}
.verde{
    background: transparent;
    color: black;
    width: 150px;
    height: 36px;
    font-family: sans-serif;
    font-size: 15px;
    border-color: green;
    font-weight: 400;
    border-radius: 1000px;
    letter-spacing: 2px;
    transition: 1s;

}

.vermelho{
    background: transparent;
    color: black;
    width: 150px;
    height: 36px;
    font-family: sans-serif;
    font-size: 15px;
    border-color:red;
    font-weight: 400;
    border-radius: 1000px;
    letter-spacing: 2px;
    transition: 1s;
}

.amarelo{
    background: transparent;
    color: black;
    width: 150px;
    height: 36px;
    font-family: sans-serif;
    font-size: 15px;
    border-color: rgba(255, 255, 0, 0.555);
    font-weight: 400;
    border-radius: 100px;
    letter-spacing: 2px;
    transition: 1s;
}
.amarelo:hover{
    cursor:  crosshair;
    box-shadow: 0 2px 50px 0 rgba(255, 255, 0, 0.555);

}
.vermelho:hover{
    cursor:  crosshair;
    box-shadow: 0 2px 50px 0 red;
}
.verde:hover{
    cursor: crosshair;
    box-shadow: 0 2px 50px 0 green;
}
.azul:hover{
    cursor: crosshair;
    box-shadow: 0 2px 50px 0 blue;
}
.branca:hover{
    cursor: crosshair;
    box-shadow: 0 2px 50px 0 rgb(110, 103, 103);
}
.desligada:hover{
    cursor: crosshair;
    box-shadow: 0 2px 50px 0 rgb(31, 31, 31);
    
}



